<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords"
    content="<%= context.config.define.APP_CONFIG_TIEN_TO_TRUONG %>, <%= context.config.define.APP_CONFIG_TEN_TRUONG_VIET_TAT_TIENG_ANH %>, Trực tuyến, HỆ THỐNG CHUYỂN ĐỔI SỐ - <%= context.config.define.APP_CONFIG_TEN_TRUONG.toUpperCase() %>, đào tạo" />
  <meta property="og:image" content="/metadata.png" />
  <meta name="description"
    content="HỆ THỐNG CHUYỂN ĐỔI SỐ - <%= context.config.define.APP_CONFIG_TEN_TRUONG.toUpperCase() %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>
    HỆ THỐNG CHUYỂN ĐỔI SỐ - <%= context.config.define.APP_CONFIG_TEN_TRUONG.toUpperCase() %>
  </title>
  <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />
  <style>
    :root {
      /* Hỗ trợ đổi màu realtime */
      --primary-color: var(--ant-primary-color);
      /* Background selected */
      --primary-1: var(--ant-primary-1)
    }
  </style>
</head>

<body>

  <noscript>Xin lỗi, chúng tôi cần trình duyệt của bạn chạy Javascript</noscript>
  <div id="root"></div>

</body>

</html>